@import "tailwindcss";

@theme {
  --color-neoYellow: #FFDE59;
  --color-neoLime: #7ED957;
  --color-neoPink: #FF66C4;
  --color-neoCyan: #00F0FF;
  --color-neoPurple: #9B51E0;
  --color-neoOrange: #FF914D;
  --color-neoBackground: #FFFDF9;
  --color-neoBg: #FFFDF9;
  --color-neoDark: #121212;

  --shadow-neo: 4px 4px 0px #000000;
  --shadow-neoLg: 6px 6px 0px #000000;
  --shadow-neoSm: 2px 2px 0px #000000;
  --shadow-neo-dark: 4px 4px 0px #FFFFFF;

  --radius-neo: 8px;
}

@layer base {
  body {
    @apply bg-neoBackground text-neoDark font-sans antialiased selection:bg-neoYellow selection:text-black;
  }
}

/* Custom Scrollbar bergaya neobrutalism */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #FFFDF9;
  border-left: 2px solid #000000;
}
::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 4px;
}